@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.625rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 220 6% 18%;
    --foreground: 210 10% 96%;
    --card: 220 6% 20%;
    --card-foreground: 210 10% 96%;
    --popover: 220 6% 20%;
    --popover-foreground: 210 10% 96%;
    --primary: 210 12% 96%;
    --primary-foreground: 220 8% 18%;
    --secondary: 220 5% 25%;
    --secondary-foreground: 210 10% 96%;
    --muted: 220 5% 25%;
    --muted-foreground: 210 10% 76%;
    --accent: 220 5% 25%;
    --accent-foreground: 210 10% 96%;
    --destructive: 0 65% 45%;
    --destructive-foreground: 210 10% 96%;
    --border: 220 5% 24%;
    --input: 220 5% 20%;
    --ring: 217.2 91.2% 59.8%;
    --sidebar-background: 220 6% 16%;
    --sidebar-foreground: 210 10% 96%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 220 5% 25%;
    --sidebar-accent-foreground: 210 10% 96%;
    --sidebar-border: 220 5% 22%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}